<%- include('../../compartido/cabecera')%>
<div class="container">
    <% if(datos.mensaje){ %>
        <div class="alert alert-primary" role="alert">
            <%= datos.mensaje %>
        </div>
    <% } %>

    <% if(datos.error){ %>
        <div class="alert alert-danger" role="alert">
            <%= datos.error %>
        </div>
    <% } %>

    <h1>Ruta mostrar usuario</h1>

    <a href="/usuario/ruta/crear-usuario">
        <button type="button"
                class="btn btn-primary">
            Crear usuario
        </button>
    </a> <!-- anchor -> ancla -->

    <%- include('../componentes/mostrar-tabla',
    {
    usuarios: datos.usuarios
    })%>
</div>
<form action="/usuario/ruta/mostrar-usuarios"
      method="GET"
>
    <div class="form-group">
        <label for="consultaID">Buscar usuario</label>
        <input id="consultaID"
               type="text"
               name="consultaUsuario"
               placeholder="Ej: 1720572773 o Adrian"
               title="Ingresar la busqueda por cedula o nombre"
               class="form-control">
        <small id="nombreIDHelp"
               class="form-text text-muted">
            Ingresa un nombre mayor a 3 caracteres y menor a 10.
        </small>
    </div>
<%- include('../../compartido/pie-de-pagina')%>